@page "/empresas"

@inject IEmpresaService EmpresaService


<PageTitle>Empresas</PageTitle>
<h3>Empresas</h3>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Site</th>
            <th>Segmento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empresa in EmpresaService.Empresas)
        {
            <tr>
                <td>@empresa.Nome</td>
                <td>@empresa.Site</td>
                <td>@empresa.Segmento.Nome</td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await EmpresaService.GetEmpresas();
    }
}
