@page "/listar-empresas"

@inject IEmpresaService EmpresaService
@inject NavigationManager NavigationManager


<PageTitle>Empresas</PageTitle>
<h3>Empresas</h3>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Site</th>
            <th>Segmento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empresa in EmpresaService.Empresas)
        {
            <tr>
                <td>@empresa.Nome</td>
                <td>@empresa.Site</td>
                <td>@empresa.Segmento.Nome</td>
                <td>
                    <button class="btn btn-pencil" @onclick="(() => MostrarEmpresa(empresa.Id))"><i class="oi oi-pencil"></i></button>
                    <button class="btn btn-delete" @onclick="(() => DeleteEmpresa(empresa.Id))"><i class="oi oi-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateNewEmpresa">Criar Nova Empresa</button>

@code {

    protected override async Task OnInitializedAsync()
    {
        await EmpresaService.GetEmpresas();
    }

    void MostrarEmpresa(int id)
    {
        NavigationManager.NavigateTo($"editar-empresa/{id}");
    }

    void CreateNewEmpresa()
    {
        NavigationManager.NavigateTo("/editar-empresa");
    }
    
    void DeleteEmpresa(int id)
    {
        NavigationManager.NavigateTo($"editar-empresa/{id}");
    }
}
